.container{
    height: 100vh;
    padding: 100px 50px;
}
.school, .image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.school{
    height: 50%;
}
.description{
    text-align: center;
    width: 60%;
    padding: 70px;
}
.img-school{
    width: 600px;
    height: 350px;
}
p{
    font-size: 20px;
}
.year{
    margin: 30px 0;
}



@media screen and (max-width: 1350px){
    .container{
        padding: 70px 40px;
    }
}
@media screen and (max-width: 1100px){
    .description{
        padding: 50px;
    }
    .img-school{
        width: 400px;
        height: 240px;
    }
    .year{
        margin: 20px 0;
    }
}
@media screen and (max-width: 850px){
    .container{
        height: auto;
        padding: 100px 50px;
    }
    .school{
        flex-direction: column;
    }
    .high-school{
        flex-direction: column-reverse;
    }
    .img-school{
        width: 100%;
        height: 100%;
    }
    .description{
        padding: 50px 0;
    }
    .high-school>.description{
        padding-bottom: 0px;
    }
}