<div class="container">
    <div class="images display">
        <img id="my-img" src="assets/img/DominikSzela.png" alt="my-img">
        <div class="social-proof">
            <a href="https://www.facebook.com/dominik.szela/" target="_blank">
                <img id="facebook" src="assets/img/facebook.png" alt="facebook">
            </a>
            <a href="https://github.com/SpiderIT99" target="_blank">
                <img id="github" src="assets/img/github.png" alt="github">
            </a>
            <a href="https://www.linkedin.com/in/dominik-szela/" target="_blank">
                <img id="linkedin" src="assets/img/linkedin.png" alt="linkedin">
            </a>
        </div>
    </div>
    <div class="description display">
        <h1>Dominik Szela</h1>
        <p>
            Jestem studentem 3 roku w Szkole Głównej Gospodarstwa Wiejskiego.<br>
            Programowaniem interesuję się od 4 lat.
        </p>
        <p class="my-data">
            Rok urodzenia: 1999r.<br>
            Telefon: (+48) 721 902 314<br>
            Email: dominik.szela.it@gmail.com
        </p>
        <p class="RODO">Wyrażam zgodę na przetwarzanie moich danych osobowych w celu rekrutacji.</p>
    </div>
</div>