<div class="container" style="background-image: url('assets/img/footer.jpg')">
    <div class="shaded-background">
        <div>
            <h1>E-Mail:</h1>
            <p>dominik.szela.it@gmail.com</p>
        </div>
        <div>
            <h1>Numer kontaktowy:</h1>
            <p>(+48) 721 902 314</p>
        </div>
        <div>
            <h1>Adres zamieszkania:</h1>
            <p>ul. Egejska 5/5, 02-764 Warszawa</p>
        </div>
        <div class="info">Obraz <a
                href="https://pixabay.com/pl/users/ignartonosbg-21428489/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8050497"
                target="_blank">
                hartono subagio</a> z <a
                href="https://pixabay.com/pl//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8050497"
                target="_blank">
                Pixabay</a></div>
    </div>
</div>