<div class="container">
    <div class="school">
        <div class="image">
            <img class="img-school" src="assets/img/SGGW.png" alt="SGGW">
        </div>
        <div class="description">
            <h1>Szkoła Główna Gospodarstwa Wiejskiego (Warszawa)</h1>
            <p class="year"><i>2020r. - obecnie</i></p>
            <p>Kierunek: Informatyka</p>
        </div>
    </div>
    <div class="school high-school">
        <div class="description">
            <h1>Zespół Szkół nr 2 im. Tadeusza Rejtana (Rzeszów)</h1>
            <p class="year"><i>2015r. - 2019r. (Technik Ekonomista)</i></p>
            <p>Kierunek: Ekonomia</p>
        </div>
        <div class="image">
            <img class="img-school" src="assets/img/ZS2.png" alt="ZS2">
        </div>
    </div>
</div>