<div class="container" style="background-image: url('assets/img/book.jpg')">
    <div class="shaded-background">
        <div>
            <h1>Kursy i szkolenia:</h1>
            <ul>
                <li>
                    Angular - kompletny kurs od podstaw
                </li>
                <li>
                    React - kurs kompletny 2021r.
                </li>
                <li>
                    Bootcamp programistyczny 2020r.
                </li>
            </ul>
            <h1>Języki:</h1>
            <ul>
                <li>Polski - Ojczysty</li>
                <li>Angielski - B2 (komunikatywny)</li>
            </ul>
        </div>
        <div class="info">Obraz <a
                href="https://pixabay.com/pl/users/cocoparisienne-127419/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1960635"
                target="_blank"> Anja</a> z <a
                href="https://pixabay.com/pl//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1960635"
                target="_blank"> Pixabay</a></div>
    </div>
</div>