<div class="container" style="background-image: url(assets/img/experience_background.jpg);">
    <div>
        <h1>Doświadczenie:</h1>
        <h2>- Frontend Develop (04.2022-obecnie)</h2>
        <p><i>Cloobees</i></p>
        <p>
            Tworzenie Stron (Więcej w moim CV/Linkedin)
        </p>
        <h2>- Frontend Develop (01.2022-3.2022)</h2>
        <p><i>Cloobees</i></p>
        <p>
            Tworzenie Stron (Więcej w moim CV/Linkedin)
        </p>
    </div>
    <div class="info"><a
            href="https://pl.freepik.com/darmowe-wektory/streszczenie-akwarela-pastelowe-tlo_20603977.htm#query=niebieskie%20tlo&position=1&from_view=keyword&track=ais"
            target="_blank">Obraz autorstwa Hello-Pixel</a> na Freepik</div>
</div>